

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #171717;
    color: white;
}

#header {
    width: 100%;
    height: 100vh; /* <- splits screen into own screen sections */
    background-image: url(images/background1.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* <- sends content to the other side of the page */
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

.logo span {
    color: #cee1f5;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none; /* <- takes link underline away */
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #cee1f5;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    margin-top: 20px;
    font-size: 60px;
}

.header-text h1 span {
    color: #cee1f5;
}


/* ----------About---------- */

#about {
    padding: 80px 0px;
    color: grey;
    height: 100vh;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #cee1f5;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

/* .tab-links:hover::after {
    width: 100%;
} */

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #cee1f5;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ----------Projects---------- */

#projects {
    padding: 30px 0;
    height: 100vh;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projects-list div {
    background: #262626;
    padding: 40px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.projects-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.projects-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.projects-list div a {
    text-decoration: none;
    color: #171717;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}

.projects-list div:hover {
    background: #cce1f5;
    color: #171717;
    transform: translateY(-10px);
}

/* ----------Contact---------- */

#contact {
    height: 100vh;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #cce1f5;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: color 0.5s, transform 0.5s;
}

.social-icons a:hover {
    color: #cce1f5;
    transform: translateY(-5px);
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #cce1f5;
    padding: 14px 50px;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    transition: background 0.75s;
}

.btn:hover {
    background: #cce1f5;
    color: #171717;
}

.btn.btn2 {
    display: inline-block
}

.btn.btn3 {
    background: transparent;
    margin-top: 30px;
    transition: background 0.5;

}

.btn.btn3:hover {
    background: #cce1f5;
    color: #171717;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: #cce1f5;
    transition: color 0.5s;
}

.copyright i:hover {
    color: #fff;
}

nav .fas {
    display: none;
}



